*{
    margin: 0;
    padding: 0;
}

body{
    width: 80%;
    margin: 0 auto;
    background-image: url(img/sunset-1373171_1920.jpg);
    background-size: cover;
}

header{
    margin: 2% 0;
}

main{
    background-color: rgba(255, 255, 255, .8);
    padding: 2%;
}

.table_keisan{
    display: flex;
    text-align: left;
    flex-wrap: wrap;
}

table{
    min-width: 300px;
    margin: 3vh 0;
    width: 50%;
}


.table_keisan input{
    width: 40px;
}

/* .design_table{
    width: 50%;
}

.coding_table{
    width: 50%;
}

.wp_table{
    width: 50%;
} */

.goukei{
    margin-top: 5%;
}